<div class="uk-container">
    <h1>This is a Heading H1</h1>
    <h2>this is a heading h2</h2>
    <a href="#">this is an in-line link</a>
    <p>This is a paragraph. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet nihil nobis, est non quis in placeat ratione eius tempora atque quibusdam nostrum dolorem ipsa totam voluptatem minima fuga. Ipsam, tenetur?</p>
    
    <div><a class='tag yellowTag' href="#">this is a standalone tag</a></div>
    <br>

    {{!-- begin victim grid --}}
    <div class="uk-grid-match uk-grid-small uk-child-width-expand@s" uk-grid>

        <div>
            <div id="natashaMckenna" class="uk-card uk-card-large uk-card-default uk-card-hover">
                <div class="uk-card-body">
                    <p class="victimName">Natasha McKenna, 37</p>
                    <p class="victimDate">February 23, 2015</p>
                </div>
                <div id="victimTag" class="tag">District of Columbia</div>
            </div>
        </div>
        <div>
            <div id="alexiaChristian" class="uk-card uk-card-large uk-card-default uk-card-hover">
                <div  class="uk-card-body">
                    <p class="victimName">Alexia Christian, 26</p>
                    <p class="victimDate">April 30, 2015</p>
                </div>
                <div class="tag">Georgia</div>
            </div>
        </div>
        <div>
            <div id="michelleShirley" class="uk-card uk-card-large uk-card-default uk-card-hover">
                <div class="uk-card-body">
                    <p class="victimName">Michelle Shirley, 39</p>
                    <p class="victimDate">October 31, 2016</p>
                </div>
                <div class="tag">California</div>
            </div>
        </div>
        <div>
            <div id="bettieJones" class="uk-card uk-card-large uk-card-default uk-card-hover">
                <div class="uk-card-body">
                    <p class="victimName">Bettie Jones, 55</p>
                    <p class="victimDate">December 26, 2015</p>
                </div>
                <div class="tag">Illinois</div>
            </div>
        </div>
    
        <div>
            <div id="marqueshaMcmillan" class="uk-card uk-card-large uk-card-default uk-card-hover">
                <div class="uk-card-body">
                    <p class="victimName">Marquesha McMillan, 21</p>
                    <p class="victimDate">October 26, 2015</p>
                </div>
                <div class="tag">District of Columbia</div>
            </div>
        </div>

    </div> {{!-- closing victim grid --}}




   {{!-- begin victim grid --}}
    <div class="uk-grid-match uk-grid-small uk-child-width-expand@s" uk-grid>

        <div>
            <div id="natashaMckenna" class="uk-card uk-card-large uk-card-default uk-card-hover">
                <div class="uk-card-body">
                    <p class="victimName">Natasha McKenna, 37</p>
                    <p class="victimDate">February 23, 2015</p>
                </div>
                <div class="tag">District of Columbia</div>
            </div>
        </div>

        <div>
            <div id="alexiaChristian" class="uk-card uk-card-large uk-card-default uk-card-hover">
                <div  class="uk-card-body">
                    <p class="victimName">Alexia Christian, 26</p>
                    <p class="victimDate">April 30, 2015</p>
                </div>
                <div class="tag">Georgia</div>
            </div>
        </div>
        <div>
            <div id="michelleShirley" class="uk-card uk-card-large uk-card-default uk-card-hover">
                <div class="uk-card-body">
                    <p class="victimName">Michelle Shirley, 39</p>
                    <p class="victimDate">October 31, 2016</p>
                </div>
                <div class="tag">California</div>
            </div>
        </div>
        <div>
            <div id="bettieJones" class="uk-card uk-card-large uk-card-default uk-card-hover">
                <div class="uk-card-body">
                    <p class="victimName">Bettie Jones, 55</p>
                    <p class="victimDate">December 26, 2015</p>
                </div>
                <div class="tag">Illinois</div>
            </div>
        </div>
    
        <div>
            <div id="marqueshaMcmillan" class="uk-card uk-card-large uk-card-default uk-card-hover">
                <div class="uk-card-body">
                    <p class="victimName">Marquesha McMillan, 21</p>
                    <p class="victimDate">October 26, 2015</p>
                </div>
                <div class="tag">District of Columbia</div>
            </div>
        </div>

    </div> {{!-- closing victim grid --}}




    {{!-- begin victim grid --}}
    <div class="uk-grid-match uk-grid-small uk-child-width-expand@s" uk-grid>

        <div>
            <div id="natashaMckenna" class="uk-card uk-card-large uk-card-default uk-card-hover">
                <div class="uk-card-body">
                    <p class="victimName">Natasha McKenna, 37</p>
                    <p class="victimDate">February 23, 2015</p>
                </div>
                <div class="tag">District of Columbia</div>
            </div>
        </div>

        <div>
            <div id="alexiaChristian" class="uk-card uk-card-large uk-card-default uk-card-hover">
                <div  class="uk-card-body">
                    <p class="victimName">Alexia Christian, 26</p>
                    <p class="victimDate">April 30, 2015</p>
                </div>
                <div class="tag">Georgia</div>
            </div>
        </div>
        <div>
            <div id="michelleShirley" class="uk-card uk-card-large uk-card-default uk-card-hover">
                <div class="uk-card-body">
                    <p class="victimName">Michelle Shirley, 39</p>
                    <p class="victimDate">October 31, 2016</p>
                </div>
                <div class="tag">California</div>
            </div>
        </div>
        <div>
            <div id="bettieJones" class="uk-card uk-card-large uk-card-default uk-card-hover">
                <div class="uk-card-body">
                    <p class="victimName">Bettie Jones, 55</p>
                    <p class="victimDate">December 26, 2015</p>
                </div>
                <div class="tag">Illinois</div>
            </div>
        </div>
    
        <div>
            <div id="marqueshaMcmillan" class="uk-card uk-card-large uk-card-default uk-card-hover">
                <div class="uk-card-body">
                    <p class="victimName">Marquesha McMillan, 21</p>
                    <p class="victimDate">October 26, 2015</p>
                </div>
                <div class="tag">District of Columbia</div>
            </div>
        </div>

    </div> {{!-- closing victim grid --}}




    {{!-- begin victim grid --}}
    <div class="uk-grid-match uk-grid-small uk-child-width-expand@s" uk-grid>

        <div>
            <div id="natashaMckenna" class="uk-card uk-card-large uk-card-default uk-card-hover">
                <div class="uk-card-body">
                    <p class="victimName">Natasha McKenna, 37</p>
                    <p class="victimDate">February 23, 2015</p>
                </div>
                <div class="tag">District of Columbia</div>
            </div>
        </div>

        <div>
            <div id="alexiaChristian" class="uk-card uk-card-large uk-card-default uk-card-hover">
                <div  class="uk-card-body">
                    <p class="victimName">Alexia Christian, 26</p>
                    <p class="victimDate">April 30, 2015</p>
                </div>
                <div class="tag">Georgia</div>
            </div>
        </div>
        <div>
            <div id="michelleShirley" class="uk-card uk-card-large uk-card-default uk-card-hover">
                <div class="uk-card-body">
                    <p class="victimName">Michelle Shirley, 39</p>
                    <p class="victimDate">October 31, 2016</p>
                </div>
                <div class="tag">California</div>
            </div>
        </div>
        <div>
            <div id="bettieJones" class="uk-card uk-card-large uk-card-default uk-card-hover">
                <div class="uk-card-body">
                    <p class="victimName">Bettie Jones, 55</p>
                    <p class="victimDate">December 26, 2015</p>
                </div>
                <div class="tag">Illinois</div>
            </div>
        </div>
    
        <div>
            <div id="marqueshaMcmillan" class="uk-card uk-card-large uk-card-default uk-card-hover">
                <div class="uk-card-body">
                    <p class="victimName">Marquesha McMillan, 21</p>
                    <p class="victimDate">October 26, 2015</p>
                </div>
                <div class="tag">District of Columbia</div>
            </div>
        </div>

    </div> {{!-- closing victim grid --}}

    










</div> {{!-- closing container --}}