<div class="uk-container">
    <h1>This is a Heading H1</h1>
    <h2>this is a heading h2</h2>
    <a href="#">this is an in-line link</a>
    <p>This is a paragraph. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet nihil nobis, est non quis in placeat ratione eius tempora atque quibusdam nostrum dolorem ipsa totam voluptatem minima fuga. Ipsam, tenetur?</p>
    
    <div><a class='tag scarletTag' href="#">this is a tag</a></div>
    <br>

    {{!-- need to match card heights to the shortest img --}}
    <div class="uk-grid-match uk-child-width-expand@s" uk-grid>
        
        <div class="victimCard">
            <div class="uk-card uk-card-small uk-card-default uk-card-body" id="alexiaChristian">
                <p class="victimName">Alexia Christian, 26</p>
                    <p class="victimDate">April 30, 2015</p>
                    <span class="tag scarletTag">Georgia</span>
            </div>
        </div>

        {{!-- <div id="alexiaChristian" class="victimCard">
            <div class="uk-card uk-card-small uk-card-default uk-card-hover">
                <div class="uk-card-body">
                    <p class="victimName">Alexia Christian, 26</p>
                    <p class="victimDate">April 30, 2015</p>
                    <span class="tag scarletTag">Georgia</span>
                </div>
                <div class="uk-card-media-bottom">
                    <img src="http://sharifwilliams.com/wor/women/on/the/rise/ga/wp-content/uploads/2017/04/Alexia-and-boys.jpg" alt="">
                </div>
            </div>
        </div> --}}
        <div>
            <div class="uk-card uk-card-small uk-card-default uk-card-hover">
                <div class="uk-card-body">
                    <p class="victimName">Michelle Shirley, 39</p>
                    <p class="victimDate">October 31, 2016</p>
                    <span class="tag scarletTag">California</span>
                </div>
                <div class="uk-card-media-bottom">
                    <img src="https://thumbs.mic.com/OGQ3OTQ4OTYwMSMvT3JfOGZyalBjV2ZaUmxET3NEc3J1cWJKajdvPS8xMXgyNjoxMjAzeDY0Ni84MDB4NDUwL2ZpbHRlcnM6Zm9ybWF0KGpwZWcpOnF1YWxpdHkoODApL2h0dHBzOi8vczMuYW1hem9uYXdzLmNvbS9wb2xpY3ltaWMtaW1hZ2VzL2JyZGhtMmcwbDRhZzNsYzZpcWx2czdwN2lxemNqd2p5bnY2eGZ3eG14bTVpZGx1eGF4OWlsdWR4Ynhtbm5wcmIuanBn.jpg" alt="">
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-small uk-card-default uk-card-hover">
                <div class="uk-card-body">
                    <p class="victimName">Betty Jones, 55</p>
                    <p class="victimDate">December 26, 2015</p>
                    <span class="tag scarletTag">Illinois</span>
                </div>
                <div class="uk-card-media-bottom">
                    <img src="https://i2-prod.mirror.co.uk/incoming/article7085672.ece/ALTERNATES/s615/Bettie-Jones-and-Quintonio-LeGrier-shot-by-police.jpg" alt="">
                </div>
            </div>
        </div>
    
        <div>
            <div class="uk-card uk-card-small uk-card-default uk-card-hover">
                <div class="uk-card-body">
                    <p class="victimName">Marquesha McMillan, 21</p>
                    <p class="victimDate">October 26, 2015</p>
                    <span class="tag scarletTag">District of Columbia</span>
                </div>
                <div class="uk-card-media-bottom">
                    <img src="https://i.kinja-img.com/gawker-media/image/upload/s--lUWkv4Ks--/c_fill,fl_progressive,g_center,h_900,q_80,w_1600/k42kvyevnjy4cmknhtbc.jpg" alt="">
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-small uk-card-default uk-card-hover">
                <div class="uk-card-body">
                    <p class="victimName">Marquesha McMillan, 21</p>
                    <p class="victimDate">October 26, 2015</p>
                    <span class="tag scarletTag">District of Columbia</span>
                </div>
                <div class="uk-card-media-bottom">
                    <img src="https://i.kinja-img.com/gawker-media/image/upload/s--lUWkv4Ks--/c_fill,fl_progressive,g_center,h_900,q_80,w_1600/k42kvyevnjy4cmknhtbc.jpg" alt="">
                </div>
            </div>
        </div>

    </div> {{!-- closing victim card grid --}}

    










</div> {{!-- closing container --}}