<div class="uk-container">
    <h1>testing testing h1</h1>
    <h2>testing h2</h2>
    <a href="#">this is a link</a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet nihil nobis, est non quis in placeat ratione eius tempora atque quibusdam nostrum dolorem ipsa totam voluptatem minima fuga. Ipsam, tenetur?</p>
    
    <div><a class='tag scarletTag' href="#">district of columbia</a></div>

    {{!-- victim row card --}}
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
            <img src="https://7468669c0013a7dae459-4d0fcf8d315d40f305ee2ebb6c32f79c.ssl.cf1.rackcdn.com/4419865_1431321585.632_updates.jpg" alt="Alexia Christian" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Media Right</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
        </div>
    </div>










</div> {{!-- closing container --}}