<!DOCTYPE html>
<meta charset="utf-8">

<body>

    <form role="form">
  <div class="form-group">
                <label for="search">Search Term:</label>
                <input type="text" class="form-control" id="search-term">
    </div>
              <button type="submit" class="btn btn-default" id="run-search">
                <i class="fa fa-search"></i> Search</button>
              <button class="btn btn-default" id="clear-all">
                <i class="fa fa-trash"></i> Clear Results</button>
                </form> 

    <div class="row">
      <div class="col-sm-12">
        <br>

        <div class="card">

          <div class="card-header">
            <strong>
              <i class="fa fa-table"></i> Top Articles</strong>
          </div>

          <div class="card-body" id="article-section">
          </div>
        </div>
      </div>
    </div>

<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
  
/**
 * pulls information from the form and build the query URL
 * @returns {string} URL for NYT API based on form inputs
 */
function buildQueryURL() {

  var queryURL = "https://api.nytimes.com/svc/search/v2/articlesearch.json?";
  var queryParams = { "api-key": "e225c15df22145a393020b9ee997df31" };

  queryParams.q = $("#search-term")
    .val()
    .trim();

  console.log("---------------\nURL: " + queryURL + "\n---------------");
  console.log(queryURL + $.param(queryParams));
  return queryURL + $.param(queryParams);
}

/**
 * takes API data (JSON/object) and turns it into elements on the page
 * @param {object} NYTData - object containing NYT API data
 */
function updatePage(NYTData) {
  
  console.log(NYTData);
  console.log("------------------------------------");

  for (var i = 0; i < 15; i++) {
    console.log("hello");
    var article = NYTData.response.docs[i];

    var $articleList = $("<ul>");
    $articleList.addClass("list-group");

    $("#article-section").append($articleList);


    var headline = article.headline;
    var $articleListItem = $("<li class='list-group-item articleHeadline'>");

    if (headline && headline.main) {
      console.log(headline.main);
      $articleListItem.append(
          "<strong> " + 
          headline.main +
          "</strong>"
      );
    }

    var byline = article.byline;

    if (byline && byline.original) {
      console.log(byline.original);
      $articleListItem.append("<h5>" + byline.original + "</h5>");
    }

    var section = article.section_name;
    console.log(article.section_name);
    if (section) {
      $articleListItem.append("<h5>Section: " + section + "</h5>");
    }

    var pubDate = article.pub_date;
    console.log(article.pub_date);
    if (pubDate) {
      $articleListItem.append("<h5>" + article.pub_date + "</h5>");
    }

    $articleListItem.append("<a href='" + article.web_url + "'>" + article.web_url + "</a>");
    console.log(article.web_url);

    $articleList.append($articleListItem);
  }
}

function clear() {
  $("#article-section").empty();
}

$("#run-search").on("click", function(event) {
  event.preventDefault();

  clear();

  var queryURL = buildQueryURL();

  $.ajax({
    url: queryURL,
    method: "GET"
  }).then(updatePage);
});

$("#clear-all").on("click", clear);


</script>

 </body>